<div *ngFor="let post of posts">
<p>
    <button name="{{count+1}}"class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      {{post.title}}
    </button>
  </p>
  <div style="min-height: 10px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px auto;">
        <p>{{post.content}}</p>
      </div>
    </div>
  </div>
  </div>
  